footer.well{
  margin-bottom:0;
}
footer > div > p > img {
  width:32px;
}
div.thumbnail > a > img.img-responsive {
  margin: 0 auto;
}
div.caption > h4 {
  white-space: nowrap;
	text-overflow: ellipsis;
	cursor: pointer;
	overflow:hidden;
}
h3 {
  margin-bottom: 1em;
}
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0)
    }
    20%,
    60% {
        transform: rotate(-25deg)
    }
    40%,
    80% {
        transform: rotate(10deg)
    }
}
@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}
